name: IaC Scan (checkov)

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: learning-terraform
          framework: terraform
          quiet: true
          soft_fail: false